* {
    box-sizing: border-box;
  }
  
  .title {
    color: rgb(255, 255, 255);
  }
  
  h1 {
    font-family: 'Bangers', cursive;
    font-size: 70px !important;
    line-height: 75px;
  }
  
  h4 {
    font-family: "Droid Sans", Helvetica, Arial, sans-serif !important;
    font-size: 18px;
    line-height: 25px;
  }
  
  .scores {
    font-family: "Arvo", Georgia, Times, serif;
  }
  
  #score {
    margin-top: 10px;
    font-family: "Arvo", Georgia, Times, serif;
    font-size: 30px;
  }
  
  #hscore {
    font-family: "Arvo", Georgia, Times, serif;
    font-size: 30px;
  }